# Built package
cgode.egg-info/
dist/
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Run on Cluster files
*.sh
HPC*
*.out
slurm*
CG*
RCS*

# Custom files
run.sh
run.py
run-parallel.py
sigopt-model.py
sigopt*
experiment.yml
run-gpu.py
arch*
4gpus*
core*

# Folders
dataset/
figures/
execution/
results/
temp/