# Built package
cgode.egg-info/
dist/
build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
notebook.ipynb

# Run on Cluster files
*.sh
HPC*
*.out
slurm*
CG*
RCS*

# Custom files
run*
sigopt-model.py
sigopt*
experiment.yml
utils.ipynb
config0.yml
config1.yml
config.yml
sweep.yml

# Folders
dataset/
figures/
results/
temp/
wandb/