# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Run on Cluster files
*.sh
HPC*
*.out
slurm*
CG*

# Custom files
run.sh
run.py
run-parallel.py
sigopt-model.py
sigopt*
experiment.yml
run-gpu.py
arch*

# Folders
dataset/
figures/
execution/
results/
temp/